.loginPage {
	padding: 80px 24px;

	label {
		color: gray;
		font-weight: 300;
		font-size: .85rem;
	}

	h1 {
		font-size: 1.5rem;
		text-align: center;
	}

	.signUpForm {
		button {
			margin: 0 auto;
			background-color: #ef5d30;
			width: 100%;
			padding: 5px 10px;
			border-radius: 5px;
			color: white;
		}
	}

	.inputsContainers {
		width: 100%;
	}

	.inputContainer {
		width: 100%;
		padding-bottom: 20px;
	}

	.subText {
		color: gray;
		font-size: .85rem;
		text-align: center;
		margin-bottom: 16px;
		width: 100%;
	}

	.footer {
		margin: 16px auto;
		width: 80%;

		.buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;

			.faceBookLoginButton, .googleLoginButton {
				display: flex;
				flex-direction: row;
				background-color: #485890;
				color: white;
				border-radius: 12px;
				width: 150px;
				padding: 8px 12px;
				align-items: center;
			}
			
			.googleLoginButton {
				background-color: #C3513F;
				margin-right: 10px;
			}
		}
	}
}